html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    color: white;
    font-family: sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #000;
}

.sidebar {
    width: 18%;
    height: 100vh;
    border: 1.5px solid #444;
    border-top: 0;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #000;
}

.sidebar-options {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* Each Option (Icon + Text) */

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #444;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #111;
    /* slightly lighter than black */
    color: white;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
}

.sidebar-option i,
.sidebar-option img {
    width: 20px;
    height: 20px;
}

.sidebar-option.active {
    background-color: #222;
    /* darker background for active */
    border-color: turquoise;
    color: white;
    /* ensure text stays visible */
}

@media (max-width:900px) {
    .sidebar-option p {
        display: none;
    }
}